* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Century Gothic;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f4f4;
    overflow-y: scroll;
}

.header {
    width: 100%;
    background-color: #6f3b26;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header-content {
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 150px;
    height: 95px;
    object-fit: cover;
    object-position: center;
    margin-right: 10px;
}

.site-name {
    font-size: 32px;
    letter-spacing: 5px;
    font-weight: bold;
    color: #fff;
}

.container {
    display: flex;
    flex: 1;
    width: 100vw;
    background-color: #f4f4f4;
    gap: 20px;
    margin-top: 100px;
    transition: margin-left 0.3s ease-in-out;
}

.trigger-area {
    position: fixed;
    left: 0;
    top: 70px;
    height: 100%;
    width: 20px;
    z-index: 10;
}

.sidebar {
    width: 250px;
    background-color: #6f3b26;
    color: #fff;
    position: fixed;
    top: 85px;
    left: 0;
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    z-index: 9;
    font-size: large;
    font-weight: bold;
    letter-spacing: 3px;
    overflow-y: auto;
}

.container {
    display: flex;
    flex: 1;
    width: calc(100vw - 250px);
    margin-left: 250px;
    background-color: #f4f4f4;
    gap: 20px;
}

.nav-menu ul {
    list-style-type: none;
}

.nav-menu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.nav-menu ul li a i {
    margin-right: 10px;
    font-size: 20px;
    padding: 5px;
}

.nav-menu ul li a:hover {
    background-color: #d9b59e;
    font-weight: bold;
}

.logout-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    color: #fff;
    background-color: #d9534f;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

.logout-btn:hover {
    background-color: #c9302c;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    padding: 10px;
}

.dashboard-cards {
    grid-column: span 2;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 10px;
    justify-content: flex-start;
}

.card-container {
    background-color: #b39b87;
    border-radius: 15px;
    padding: 15px;
    width: 145px;
    height: 100px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.section-container {
    background-color: #b39b87;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calendar {
    text-align: center;
    font-size: larger;
    height: 500px;
}

.calendar table {
    width: 100%;
    border-collapse: collapse;
    color: #fff;
}

.calendar th, .calendar td {
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 15px;
}

.calendar th {
    color: #fff;
    font-size: 20px;
}

.calendar h3 {
    color: #fff;
    letter-spacing: 5px;
    font-weight: 900;
    font-size: 28px;
    margin-top: -5px;
}

.calendar td:hover {
    background-color: #d9b59e;
    cursor: pointer;
}

.month-navigation {
    display: flex;
    justify-content: space-between;
}

.month-navigation button {
    padding: 8px 12px;
    background-color: #6f3b26;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.month-navigation button:hover {
    background-color: #d9b59e;
}

.today {
    background-color: #d9b59e;
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
}

.container:hover {
    margin-left: 250px;
}

.container .main-content {
    margin-left: 0;
    transition: margin-left 0.3s ease-in-out;
}

.user_section-container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    height: 300px;
    background-color: #f4f4f4;
    margin-left: auto;
    margin-right: auto;
}

.section-container {
    margin-bottom: 20px;
}

.business-owners,
.artisans,
.buyers {
    margin-bottom: 10px;
}

.user-counts-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#business-owners-count, #artisans-count, #buyers-count {
    font-size: 36px;
    font-weight: bold;
    color: #6f3b26;
    margin-top: 20px;
}

